* {
    font-family: sans-serif;
}

body {
    height: 1500px;
}

h6 {
    bottom: 150px;
    left: 90px;
}

p {
    bottom: 90px;
    left: 90px;
}

.nav-main {
    height: 81px;
    line-height: 28px;
    top: 0;
    color: rgb(153, 153, 153);
}

.nav-2 {
    width: 1120px;
    height: 81px;
    padding-top: 21px;
}

.logo {
    width: 155px;
    height: 32px;
    line-height: 28px;
    margin-right: 86px;
    box-sizing: border-box;
}

.logoimg {
    width: 100%;
    height: 22px;
    line-height: 22px;
    margin-top: -14px;

}

#logo {
    width: 155px;
    height: 20px;
    line-height: 20px;
}

.nav-3 {
    width: 878.05px;
    height: 60px;
    line-height: 20px;
    z-index: 1;
}

.menu {
    padding-left: 35px;
    font-size: 18px;
    box-sizing: border-box;
}

.hassub {
    padding: 0 25px;
    height: 28px;
    line-height: 28px;
    list-style-type: none;
    font-size: 18px;
}

.sublink {
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 28px;
}

.sublink:hover {
    color: rgb(0, 44, 95);
}

.util {
    list-style-type: none;
    width: 181px;
    height: 60px;
    line-height: 28px;
    padding: 2px 0 0 51px;
}

.global-link {
    width: 25px;
    height: 25px;
    background-image: url("../images/btn_topmenu_language-wh.webp");
    display: block;
    line-height: 26px;
    text-align: center;
    text-decoration-line: none;
    position: relative;
    background-size: contain;
}

.global-link:hover {
    background-image: url("../images/2btn_topmenu_language-bl.png");
}

.global {
    list-style-type: none;
    width: 25px;
    height: 25px;
}

.channel {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.channel-link {
    width: 25px;
    height: 25px;
    background-image: url("../images/btn_topmenu_Channelh-wh.webp");
    display: block;
    line-height: 26px;
    text-align: center;
    text-decoration-line: none;
    position: relative;
    background-size: contain;
}

.channel-link:hover {
    background-image: url("../images/2btn_topmenu_Channelh-bl.png");
}

.lang-link {
    display: block;
    width: 25px;
    height: 25px;
    font-size: 16px;
    height: 25px;
    line-height: 26px;
    text-decoration: none;
    color: white;
}

.lang-link:hover {
    color: #002c5f;
}

.search-link {
    width: 25px;
    height: 25px;
    background-image: url("../images/btn_topmenu_search-wh.webp");
    display: block;
    line-height: 26px;
    text-align: center;
    text-decoration-line: none;
    position: relative;
    background-size: contain;
}

.search-link:hover {
    background-image: url("../images/2btn_topmenu_search-bl.webp");
}

.text3 {
    height: 119px;
    padding: 0px 30px 30px 30px;
    bottom: 0;
    transition: all 0.2s ease 0s;
    z-index: 1;
    line-height: 28px;
}

.text3:hover {
    height: 217px;
}

.text2 {
    height: 89px;
    opacity: 1;
    line-height: 24px;
}

.par41 {
    font-size: 23px;
    padding-bottom: 15px;
}
.par40 {
    height: 200px;
    line-height: 24px;
    font-size: 17px;
    opacity: 0;
}

.par40:hover {
    opacity: 1;
}

.text4 {
    width: 300px;
    height: 100px;
    transition: all .4s ease 0s;
    z-index: 3;
    padding: 0 30px 30px 30px;
    bottom: 1px;
}

.box20 {
    line-height: 28px;
}

.box20::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 44, 95, 0.6);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.box20:hover::after {
    opacity: 1;
}

.text99 {
    height: 119px;
    bottom: 0;
    transition: all 0.3s ease 0s;
    z-index: 1;
    line-height: 28px;
}

.para4 {
    display: block;
    left: 30px;
    top: 22px;
    line-height: 18px;
    transition: all 0.5s ease;
}

.par5 {
    display: block;
    font-size: 23px;
    color: white;
    position: absolute;
    left: 30px;
    bottom: 0px;
    top: 40px;
}

.par6 {
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.5s ease;
    width: 900px;
    height: 461px;
    margin-top: -340px;
    padding-top: 300px;

}

.par6:hover {
    opacity: 1;
}

.selec {
    margin-left: 480px;
    width: 400px;
    height: 100px;
    text-align: justify;
}

.box4 {
    height: 449.667px;
}

.box2 {
    line-height: 28px;
}

.box2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 44, 95, 0.5);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.box2:hover::after {
    opacity: 1;
}

.text4 {
    height: 119px;
    padding: 0px 30px 30px 30px;
    transition: all 0.2s ease 0s;
    z-index: 1;
    line-height: 28px;
}

.text4:hover {
    height: 217px;
}

.text5 {
    height: 89px;
    opacity: 1;
    line-height: 24px;
}

.par1 {
    font-size: 23px;
    padding-bottom: 15px;
}

.par2 {
    height: 200px;
    line-height: 24px;
    margin: 0px;
    font-size: 17px;
    opacity: 0;
}

.par2:hover {
    opacity: 1;
}

.box7 {
    height: 899.333px;
}

.box8 {
    height: 100%;
    line-height: 28px;
}

.box8::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 44, 95, 0.5);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.box8:hover::after {
    opacity: 1;
}

.text6 {
    height: 119px;
    padding: 20px 30px 30px 30px;
    bottom: 5px;
    transition: all 0.2s ease 0s;
    z-index: 1;
    line-height: 28px;
}

.text6:hover {
    height: 217px;
}

.text7 {
    height: 80px;
    opacity: 1;
    line-height: 24px;
}

.category2 {
    line-height: 25px;
}

.txt {
    font-size: 23px;
    line-height: 32px;
}

.txt1 {
    height: 100px;
    line-height: 24px;
    font-size: 17px;
    opacity: 0;
    margin-top: 10px;
}

.txt1:hover {
    opacity: 1;
}

.box9 {
    height: 449.667px;
}

.box10 {
    height: 100%;
    line-height: 28px;
}

.box10::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 44, 95, 0.5);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.box10:hover::after {
    opacity: 1;
}

.text8 {
    height: 119px;
    padding: 20px 30px 30px 30px;
    bottom: 35px;
    transition: all 0.2s ease 0s;
    z-index: 1;
    line-height: 28px;
}

.text8:hover {
    height: 217px;
}

.category3 {
    line-height: 25px;
}

.txt2 {
    font-size: 23px;
    line-height: 32px;
}

.txt3 {
    height: 100px;
    line-height: 24px;
    font-size: 17px;
    opacity: 0;
    margin-top: 10px;
}

.txt3:hover {
    opacity: 1;
}

.link2 {
    background-color: #f6f3f2;
}

.hashtag4 {
    height: 449.667px;
    line-height: 449.667px;
}

.hashtag5 {
    font-size: 60px;
    color: #002c5f;
    height: 85px;
    width: 449.667px;
    text-align: center;
}

.box11 {
    width: 449.667px;
    height: 449.667px;
    line-height: 449.667px;
    top: 0;
    background-color: #002c5f;
    opacity: 0;
    transition: all 0.5ms linear 0s;
    z-index: 0;
}

.box11:hover {
    opacity: 1;
}

.hashtag6 {
    font-size: 60px;
}

.link3 {
    line-height: 28px;
}

.link3::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 44, 95, 0.6);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.link3:hover::after {
    opacity: 1;
}

.text9 {
    height: 119px;
    bottom: 0;
    transition: all 0s ease 0.3s;
    z-index: 1;
    line-height: 28px;
}

.parag {
    left: 30px;
    top: 22px;
    line-height: 18px;
    transition: all 0.5s ease;

}

.prg {
    font-size: 23px;
    left: 30px;
    bottom: 0px;
    top: 50px;
    height: 60px;
}

.par66 {
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.5s ease;
    width: 899.333px;
    height: 449.667px;
    margin-top: -330px;
    padding-top: 300px;
    margin-bottom: 0;
}

.par66:hover {
    opacity: 1;
}

.selec1 {
    display: block;
    margin-left: 450px;
    margin-top: 40px;
    width: 400px;
    height: 100px;
    text-align: justify;
}

.box12 {
    height: 449.667px;
}

.link4 {
    line-height: 28px;
}

.link4::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 44, 95, 0.6);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.link4:hover::after {
    opacity: 1;
}

.text10 {
    height: 119px;
    padding: 20px 30px 30px 30px;
    bottom: 35px;
    transition: all 0.2s ease 0s;
    z-index: 1;
    line-height: 28px;
}

.text10:hover {
    height: 217px;
}

.category4 {
    line-height: 25px;
}

.txt4 {
    font-size: 23px;
    line-height: 32px;
}

.txt5 {
    height: 100px;
    line-height: 24px;
    font-size: 17px;
    opacity: 0;
    margin-top: 10px;
}

.txt5:hover {
    opacity: 1;
}

.lastbox {
    height: 554.717px;
}

.footer {
    width: 1120px;
    height: 498.717px;
    padding: 74px 0px 70px 0px;
    box-sizing: border-box;
}
.ft1{
    font-size: 18.72px;
    font-weight: bold;
}
.ft2{
    font-size: 14px;
    line-height: 20px;
    color: #ada7a2;
    
}
.ft2:hover{
    color: white;
}
.socialbox{
    margin-left: 15px;
}
.lastbox2 {
    height: 393px;
}
.footer2 {
    width: 706px;
    height: 313px;
    padding: 45px 15px 35px 15px;
    box-sizing: border-box;
}
#headingOne{
    padding-top: 45px;
}
.scl{
    justify-content: center;
    margin-right: 20px;
    font-size: 20px;
    
}
.fa-facebook{
    color: rgb(207, 200, 194);
}
.fa-facebook:hover{
    color: white;
}
.fa-instagram{
    color: rgb(207, 200, 194);
}
.fa-instagram:hover{
    color: white;
}
.fa-youtube{
    color: rgb(207, 200, 194);
}
.fa-youtube:hover{
    color: white;
}
.fa-twitter{
    color: rgb(207, 200, 194);
}
.fa-twitter:hover{
    color: white;
}